.fullScreen {
    height: 100vh;
    background: url('../../images/Signinimage.jpg') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    position: relative;
    backdrop-filter: blur(20px);
}
.boxCover {
    text-wrap: nowrap;
}





@keyframes moveDown {
    0% {
        top: calc(0% - 200px);
    }

    100% {
        top: calc(100%);
    }
}

.boxCover {
    position: relative;
}

/* ========= */


.AddResContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 21px 71px -48px #000000 !important;
    background-color: #333;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
}



.AddResContent {
    text-align: center;
    padding: 20px;
}

.welcomeText {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 3vh;
    color: #fff;
    margin-bottom: 40px;
}

.inputField {
    display: block;
    width: auto;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #555;
    border-radius: 15px;
    background-color: #444;
    color: #fff;
}

.Datefield{
    display: block;
    width: 23vh;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #555;
    border-radius: 15px;
    background-color: #444;
    color: #fff;
}

.AddResButton {
    display: block;
    width: 100%;
    max-width: 190px;
    padding: 10px;
    margin: 20px auto 10px;
    border: none;
    border-radius: 15px;
    background-color: #0077ff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.AddResButton:hover {
    background-color: #0066cc;
    box-shadow: 15px;
    box-shadow: 0px 0px 10 rgba(0, 0, 0, 0.3);
}

.CancelButton {
    background-color: #ff0000; 
    margin-right: 1vh;
    color: #fff; 
    transition: background-color 0.4s ease;

    &:hover {
        background-color: #cc0000;
    }
}


@keyframes color {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.overlay {
   
    width: 80%;
    height: 50%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px); 
    z-index: 1; 
}

.UpdateButton {
    background-color: #FFA500; 
    margin-left: 1vh;
    color: #fff; 
    transition: background-color 0.4s ease;

    &:hover {
        background-color: #FF8C00;
    }
}





